spring:
  datasource:
    url: jdbc:h2:file:~/flimhub
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
  h2:
    console:
      enabled: true
      path: /h2
  jackson:
    serialization:
      indent-output: true

